<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>國家公園介紹網(0124)</title>
</head>

<body>
  <table width="1024" border="1" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td height="65" colspan="2" align="center" valign="middle" bgcolor="#0000ff"><a href="index.html"><img src="images/headerloop.gif"
          alt="" width="65" height="65" align="middle" /></a></td>
    </tr>
    <tr>
      <td width="200" height="683" rowspan="2" align="center" valign="top" bgcolor="#00ffff">
        <table width="200" border="0">
          <tr>
            <td align="center" valign="middle">
              <div align="center"><a href="./park/yangmingshan.html" target="main"
                  onmouseover="MM_swapImage('Image2','','images/park0302-1.jpg',1)"
                  onmouseout="MM_swapImgRestore()"><img src="images/park0302-0.jpg" name="Image2" width="120"
                    height="40" id="Image2" title="陽明山國家公園" /></a></div>
            </td>
          </tr>
          <tr>
            <td align="center" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="middle">
              <div align="center"><a href="./park/sheipa.html" target="main"
                  onmouseover="MM_swapImage('Image3','','images/park0303-1.jpg',1)"
                  onmouseout="MM_swapImgRestore()"><img src="images/park0303-0.jpg" name="Image3" width="120"
                    height="40" id="Image3" title="雪霸國家公園" /></a></div>
            </td>
          </tr>
          <tr>
            <td align="center" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="middle">
              <div align="center"><a href="#" onmouseout="MM_swapImgRestore()"
                  onmouseover="MM_swapImage('Image4','','images/park0304-1.jpg',1)"><img src="images/park0304-0.jpg"
                    name="Image4" width="120" height="40" id="Image4" title="太魯閣國家公園" /></a></div>
            </td>
          </tr>
          <tr>
            <td align="center" valign="middle">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="middle">
              <div align="center"><a href="#" onmouseout="MM_swapImgRestore()"
                  onmouseover="MM_swapImage('Image5','','images/park0305-1.jpg',1)"><img src="images/park0305-0.jpg"
                    name="Image5" width="120" height="40" id="Image5" title="玉山國家公園" /></a></div>
            </td>
          </tr>
        </table>
        <p><a href="others/park.mp3" download>檔案下載</a></p>
      </td>
      <td height="29">
        <marquee>「歡迎進入國家公園介紹網，本網站有詳細的國家公園介紹哦！</marquee>
      </td>
    </tr>
    <tr>
      <td width="824" height="654"><iframe name="main" src="others/main.html" width="824" height="654"></iframe></td>
    </tr>
    <tr>
      <td height="20" colspan="2" align="center" style="font-family: '標楷體'; font-size: 16px; color: #000000;">
        <div align="center">網頁設計及維護：{%myname%}、最近更新日期：{%lastupdate%}</div>
      </td>
    </tr>
  </table>
</body>
<script type="text/javascript">
  function MM_swapImgRestore() { //v3.0
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
  }
  function MM_preloadImages() { //v3.0
    var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
      var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
      if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
  }
  
  function MM_findObj(n, d) { //v4.01
    var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
      d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
    if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) x=d.getElementById(n); return x;
  }
  
  function MM_swapImage() { //v3.0
    var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
     if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
  }
  </script>
</html>