<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>網路行銷購物網</title>
    <style type="text/css">
        .customtable {
            font-family: "標楷體";
            font-size: 52px;
            text-align: center;
            background-image: url(images/0401.jpg);
            color: #FFF;
            text-shadow: 10px 10px 15px #333333;
        }

        .marq {
            font-family: "標楷體";
            font-size: 19px;
            color: #0000ff;
        }

        .footer {
            font-family: "標楷體";
            line-height: 200%;
            color: #ffffff;
        }

        a:link {
            color: #FFF;
            text-decoration: none;
        }

        a:visited {
            color: #FF9999;
            text-decoration: none;
        }

        a:hover {
            color: #FFF;
            text-decoration: none;
        }

        a:active {
            color: #FFF;
            text-decoration: none;
            
        }
    </style>
    <script type="text/javascript">
        function MM_goToURL() { //v3.0
            var i, args = MM_goToURL.arguments; document.MM_returnValue = false;
            for (i = 0; i < (args.length - 1); i += 2) eval(args[i] + ".location='" + args[i + 1] + "'");
        }
    </script>
</head>

<body>
    <embed src="music/0401.mp3" width="32" height="32" hidden="true"></embed>

    <table width="1024" border="1" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="120" class="customtable"
                onclick="MM_goToURL('parent','index.html');return document.MM_returnValue">
                流行精品購物網站</td>
        </tr>
        <tr>
            <td style="vertical-align: middle;height:30px; text-align:center; background-image: url(images/0402.jpg); border-bottom: 0px solid ">
                <marquee class="marq">大家來購物網！精品商品特價大拍賣！要買要快！</marquee>
            </td>
        </tr>
        <tr >
            <td style="border-top: 0px solid;background-image: url(images/0402.jpg);">
                <iframe name="main" height="540" style="height:540px; width:1024px;border: 0;" src="./others/main.html" ></iframe></td>
        </tr>
        <tr>
            <td height="78" bgcolor="#666600" class="footer">
                <p><a href="results/message.html" target="main">訪客留言版</a></p>
                <p>網頁設計及維護：{%myname%}、最近更新日期：{%lastupdate%}</p>
            </td>
        </tr>
    </table>
</body>

</html>